/*  Global styles */

body{
  padding: 0;
  margin: 0 auto;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  background-color: #849d8f;
  width: 1200px;
}

.visually-hiden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form{
  background-color: #f8f7f4;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.field{
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: #323232;
  font-weight: bold;
}

.field::placeholder{
  color: #999999;
  font-weight: 400;
}

.field:hover,
.field:focus{
  outline: 2px solid rgb(154, 154, 154);
}

.button {
  background: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  border: none;
  padding: 13px 20px;
}

.button:hover,
.button:focus{
  background: linear-gradient( 90deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
}

.button:active{
  background: linear-gradient( 90deg, rgb(225,97,62) 0%, rgb(199,63,44) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}


/* Header*/


.header{
  margin: 0px 27px;
}

.header--nav{
  display: flex;
  position: relative;
  padding: 9px 0px;
  z-index: 1;
}

.header--nav__menu{
  list-style: none;
  display: flex;
  min-width: 368px;
  padding-left: 12px;
  margin-top: 17px;
}

.header--nav__catalog__item{
  position: relative;
}
.header--nav__catalog__label{
  border-bottom: 1px solid rgba(255,255,255, 0.2)
}

.header--nav__catalog__button{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding: 10px;
}

.header--nav__catalog__button:hover,
.header--nav__catalog__button:focus{
  color: #363636;
  border-radius: 25px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(247, 246, 243);
}

.header--nav__catalog__button:active{
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.header--nav__catalog-list{
  width: 143px;
  padding: 0px;
  list-style: none;
  background-color: #fff;
  position: absolute;
  display: none;
}

.header--nav__catalog__item:hover .header--nav__catalog-list{
  display: block;
  position: absolute;
  top: 40px;
}

.header--nav__catalog--item{
  padding: 10px 20px;
}

.header--nav__catalog--item:hover,
.header--nav__catalog--item:focus{
  background-color: #fbded7;
}

.header--nav__catalog--item:active{
  background-color: #f6b5a5
}

.header--nav__catalog-link{
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}

.novelties{
  font-weight: bold;
}

.novelties::after{
  background-image: url(../img/Separator.png);
  content: " ";
  float: left;
  position: absolute;
  top: 41px;
  left: 6px;
  height: 1px;
  width: 128px;
}

.header--nav__buttons-list{
  display: flex;
  margin: 0px;
  padding-top: 5px;
  list-style: none;
  margin-left: auto;
  font-size: 14px;
}

.header--nav__buttons-item{
  position: relative;
}

.header--nav__buttons-link{
  font-size: 14px;
  color: #fff;
  margin-left: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  font-weight: bolder;
  text-decoration: none;
  fill: #fff;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--nav__buttons-icon{
  padding-right: 5px;
}

.seach-img{
    padding-right: 0;
}

.header--nav__buttons-link:hover,
.header--nav__buttons-link:focus{
  background-color: #fff;
  color: #323232;
  fill: #323232;
}

.search--form{
  width: 340px;
  padding: 20px 15px;
  z-index: 10;
  position: absolute;
  top: 45px;
  right: 0px;
  display: none;
}

.search--field{
  width: 100%;
}

.sign_in--form{
  z-index: 10;
  width: 275px;
  position: absolute;
  padding: 20px;
  display: none;
  top: 45px;
  right: 0px;
}

.sign_in--form_list{
  padding: 0px;
}

.sign_in--form_item:not(:last-child){
  padding-bottom: 20px;
}

.sign_in--form__field{
  width: 100%;
}

.sign_in--form_item{
  list-style: none;
}

.sign_in--buttons-block{
  display: flex;
}

.sign_in--form__block-button{
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  display: inline-block;
  margin-left: 15px;
}

.cart{
  position: absolute;
  box-sizing: border-box;
  width: 540px;
  min-height: 245px;
  z-index: 10;
  top: 45px;
  right: 0px;
  padding: 20px 15px;
  display: none;
}

.cart-content{
  list-style: none;
  padding: 0;
}

.сart-table{
  padding: 0;
  border-bottom: 1px solid #cacac7;
}

.cart-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item-title{
  width: 220px;
}

.cart-cost{
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;
  margin-top: 20px;
  justify-content: flex-end;
}

.cart-order-button{
  float: right;
}

.delete-cart-item{
  cursor: pointer;
  position: relative;
}

.delete-cart-item::before,
.delete-cart-item::after{
  position: absolute;
  right: 0px;
  top: -5px;
  content: ' ';
  height: 11px;
  width: 1px;
  background-color: #333;
}

.delete-cart-item:before {
  transform: rotate(45deg);
}

.delete-cart-item:after {
  transform: rotate(-45deg);
}

.sign_in--form__block-button:hover,
.sign_in--form__block-button:focus,
.tel:hover,
.tel:focus{
  color: #e84d37;
}

.header--nav__buttons-item:hover .search--form{
  display: block;
}

.header--nav__buttons-item:hover .sign_in--form{
  display: block;
}

.header--nav__buttons-item:hover .cart{
  display: block;
  position: absolute;
}

.header--nav__info{
  position: absolute;
  top: 75px;
  right: 0px;
  text-align: right;
}

.header--nav__info-time{
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.header--nav__info-phone{
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}


/* Slider */


.slider--list{
  list-style: none;
}

.slider--item{
  position: relative;
  text-align: center;
}

.slider-container{
  position: absolute;
  width: 680px;
  margin: auto;
  top: 410px;
  left: 0;
  bottom: 0;
  right: 0;
}

.slider--header{
  font-size: 60px;
  line-height: 60px;
  margin: 0px;
  display: block;
}

.slider--button{
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 40px;
  display: inline-block;
}

.slider--nav__list{
  list-style: none;
  display: flex;
}

.slider--nav__button{
  width:17px;
  height: 17px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 5px;
}

.slider--nav__button:hover,
.slider--nav__button:focus{
    background-color: rgba(248, 247, 244, 0.4);
}

.slider--nav__button:active{
    background-color: rgba(248, 247, 244, 1);
}


/* Banner */


.baner{
  display: flex;
  margin: 0px 27px;
}

.baner--item{
  width: 560px;
  min-height: 230px;
}

.baner--left{
  background-image: url(../img/raspberry.png);
  background-repeat: no-repeat;
  margin-right: auto;
}

.baner--right{
  background-image: url(../img/chocolate.png);
  background-repeat: no-repeat;
}

.baner--header{
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 20px;
  margin-top: 25px;
}

.baner-description{
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}

.baner--button{
  float: right;
  margin-right: 20px;
}


/* Goods */


.goods{
  margin: 0px 27px;
  margin-top: 40px;
}

.goods--list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  z-index: 1;
}

.goods--item{
  position: relative;
  min-height: 325px;
  width: 285px;
  text-align: center;
}

.goods--item_hover{
  position: absolute;
}

.hits::before{
  background-image: url(../img/hit.svg);
  content: " ";
  position: absolute;
  left: 0;
  height: 61px;
  width: 61px;
  z-index: 10;
}

.goods--item_hover:hover,
.goods--item_hover:focus{
  position: absolute;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  height: 405px;
  z-index: 5;
}

.product__card--price{
  font-size: 35px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  text-align: left;
  margin: 0px;
  margin-left: 15px;
  position: absolute;
  top: 220px;
}

.product__card--price-kilo{
  font-size: 24px;
}

.product__card--description{
  margin: 0 20px;
}

.product__card--header{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.2);
  margin-top: 35px;
}

.product__card--header:hover,
.product__card--header:focus{
  color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.2);
}

.goods--item__button{
  display: none;
  position: relative;
  top: 20px;
}

.goods--item:hover .goods--item__button{
  display: inline-block;
}


/* SEO */


.seo{
  background-image: url(../img/waffle.jpg);
  color: #323232;
  border-radius: 12px;
  margin: 0px 27px;
  margin-top: 20px;
}

.seo--header{
  font-size: 24px;
  font-weight: 500px;
  line-height: 30px;
  padding-top: 35px;
  padding-left: 20px;
  margin: 0px;
}

.seo-list{
  columns: 2 auto;
  padding: 0;
  list-style: none;
  margin: 0px;
  padding-bottom: 35px;
}

.seo-item{
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 35px;
  position: relative;
}

.production::before{
  background-image: url(../img/production.png);
  background-repeat: no-repeat;
  content: " ";
  float: left;
  height: 49px;
  width: 49px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.ingredients::before{
  background-image: url(../img/ingredients.png);
  background-repeat: no-repeat;
  content: " ";
  float: left;
  height: 49px;
  width: 49px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.suppliers::before{
  background-image: url(../img/suppliers.png);
  background-repeat: no-repeat;
  content: " ";
  float: left;
  height: 49px;
  width: 49px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.thermometer::before{
  background-image: url(../img/Thermometer.png);
  background-repeat: no-repeat;
  content: " ";
  float: left;
  height: 49px;
  width: 49px;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* news-distribution */


.news-distribution{
  display: flex;
  margin: 0px 27px;
  margin-top: 40px;
}

.news-distribution__block{
  width: 560px;
  min-height: 230px;
}

.news{
  background-image: url(../img/strawberry.png);
  background-repeat: no-repeat;
  margin-right: auto;
  color: #323232;
  padding-top: 30px;
  padding-left: 20px;
}

.news--paragraph{
  margin: 0px;
  display: block;
  margin-bottom: 20px;
}

.news--header{
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  text-decoration: none;
  border-bottom: 2px solid #353535;
}

.news--header:hover,
.news--header:focus{
  color: #e84d37;
  border-color: #e84d37;
}

.distribution{
  background-image: url(../img/post.png);
  background-repeat: no-repeat;
  color: #323232;
}

.distribution--description{
  color: #5a5a5a;
  margin: 0px;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.distribution-container{
  padding-top: 40px;
  padding-left: 25px;
}

.distribution--form{
  min-width: 368px;
  margin-right: 10px;
}


/* Map */


.map{
  position: relative;
  height: 430px;
}

.map--form{
  color: #363636;
  border-radius: 15px;
  width: 300px;
  min-height: 305px;
  background-color: rgba(255, 255, 255, 0.98);
  position: absolute;
  top: 40px;
  right: 27px;
  padding: 25px;
  margin
}

.map--form-paragrapf{
  font-size: 14px;
  line-height: 20px;
}

.map--form-paragrapf-bold{
  text-decoration: none;
  color: #363636;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}


/* Popup */


.popup-container{
  position: relative;
  background-color:  rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.popup--form{
  width: 477px;
  padding: 20px;
  position: relative;
}

.popup--form_close{
  cursor: pointer;
}

.popup--form_close::before,
.popup--form_close::after{
  position: absolute;
  right: 26px;
  top: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #333;
}

.popup--form_close:before {
  transform: rotate(45deg);
}

.popup--form_close:after {
  transform: rotate(-45deg);
}

.popup--header{
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  padding-bottom: 20px;
}

.popup--form_list{
  margin: 0;
  padding: 0;
}

.popup--form_item:not(:last-child){
  padding-bottom: 20px;
}

.popup--field{
  width: 265px;
}

.popup--message{
  width: 100%;
}


/* Footer */


.footer{
  display: flex;
  justify-content: space-between;
  margin: 0px 27px;
  margin-top: 27px;
}

.footer--social_network{
  list-style: none;
  display: flex;
  padding: 0px;
}

.footer--social_network-list{
  margin-right: 5px;
}

.footer--social_network-img{
  border: 3px solid #c2cec7;
  border-radius: 50%;
  opacity: 0.5;
}

.footer--social_network-img:hover,
.footer--social_network-img:focus{
  opacity: 1;
  border-color: #dae2de;
}

.footer--social_network-img:active{
  opacity: 0.7;
}

.footer--menu{
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  columns: 2 auto;
  position: relative;
}

.footer--item:first-child::before{
  background-image: url(../img/heart.svg);
  content: " ";
  float: left;
  position: absolute;
  top: 2px;
  left: 20px;
  height: 13px;
  width: 15px;
}

.footer--item__link{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.2);
}

.bold{
  font-weight: bold;
}

.footer--item__link:hover,
.footer--item__link:focus{
  color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.2);
}

.footer--made-in__paragraph{
  margin: 0px;
}

.html-link{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.2);
}

.html-link:hover,
.html-link:focus{
  color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.2);
}


/* Popup */


.popup--form_list{
  list-style: none;
}

.popup{
  border:0 none;
}

.popup--header{
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}



/* Catalog */



.сart-table{
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}


/* Breadcrumbs */


.breadcrumbs--list{
  margin: 0 27px;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs--item-link{
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-right: 20px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs--item-link:hover,
.breadcrumbs--item-link:focus{
  color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.2);
}

.visited::after{
  content: '\00bb';
  position: relative;
  left: -10px;
}

.current{
  border-bottom: 0;
}


/*Filter*/


.filter{
  margin: 0 27px;
}

.catalog-header{
  font-size: 35px;
  line-height: 41px;
}

.filter-price,
.filter--fatness,
.filter--tastes{
  border: 0 none;
}

.stroke__filter{
  padding: 10px;
  display: flex;
}

.filter--description{
  font-size: 14px;
  line-height: 16px;
}

.stroke__filter{
  background-color: rgba(248, 247, 244,0.2);
  border-radius: 25px;
}


.filter--sort__list{
  list-style: none;
}

.filter--sort__button{
  font-size: 14px;
  line-height: 16px;
}

.filter--label{
  font-size: 14px;
  line-height: 18px;
  user-select: none;
  position: relative;
}

.filter--fatness_list,
.filter--tastes_list{
  list-style: none;
}

.filter--fatness_item{
  position: relative;
  display: flex;
  padding-left: 33px;
  padding-right: 14px;
}

.filter--input,
.filter--tastes_input{
  display: none;
}

.filter--label::before{
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255,255,255,.7);
  border-radius: 50%;
}

.filter--input:checked+label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 8px;
  height: 8px;
  background-color: rgba(255,255,255,.7);
  border-radius: 50%;
}

.filter--tastes_item{
  position: relative;
  display: flex;
  padding-right: 18px;
  padding-left: 33px;
}

.filter--tastes_label::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 28px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.filter--tastes_input:checked+label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 28px;
  height: 24px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .8;
  opacity: 0.5;
}

.filter--label:hover::before,
.filter--tastes_label:hover::before{
  border-color: #fff;
}

.filter--input:checked:hover+label::after{
  background-color: #fff;
}

.filter--tastes_label:hover::before,
.filter--tastes_input:checked:hover+label::after{
  opacity: 1;
}

.filter--tastes_label,
.filter--label{
  user-select: none;
  cursor: pointer;
}

.filter--button{
  border: none;
  color: #fff;
  border: 2px solid rgb(255, 255, 255);
}

.filter--button:hover,
.filter--button:focus{
  background-color: rgb(255, 255, 255);
  color: #323232;
}

.filter--button:active{
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}


/* Pagination */


.padination{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 27px;
  margin-top: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.padination--list{
  display: flex;
  list-style: none;
  position: relative;
}

.padination--item__link{
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  width: 25px;
  line-height: 25px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.padination--item__link:hover,
.padination--item__link:focus{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.padination--item__link:active{
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #323232;
}

.back{
  opacity: 0.5;
  transform: rotate(90deg);
}
